# Created by .ignore support plugin (hsz.mobi)

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/

# IntelliJ project files
.idea/
*.iml

# Django files
/AREXTI_DJANGO/AREXTI_DJANGO/settings.py
migrations/

/Pablo.md

RNChat.h5
RNTexto.h5
RNMail.h5
/AREXTI_DJANGO/AREXTI_PROCESOS/BDConect.txt
