{% extends 'home/index.html' %}
{% load staticfiles %}
{% load AREXTItemplatetag %}
{% block styles %}
{% endblock %}

{% block scripts %}
    <script>
    </script>
    {% block ListadoBaseScripts %}
    {% endblock %}
{% endblock %}


{% block error %}
    {% include 'base/Messages.html' %}
{% endblock %}

{% block principal %}
<section class="content-header">
    <h1>
        {% block icon %}
        {% endblock %}
        {% block titulo %}
        {% endblock %}
    </h1>
    <h6>
        {% block linkVolver %}
        {% endblock %}
    </h6>
</section>

<section class="content">

    {% block TopBody %}
    {% endblock %}

        <!-- Filtros -->
        <div class="row">
            <div class="col-md-12">
                <div class="box-filter">
                    <div class="box-header with-border">
                        <h3 class="box-title">Filtros</h3>
                        <div class="box-tools">
                            <button title="minimizar/maximizar" class="btn btn-box-tool" type="button" data-toggle="collapse"
                                data-target="#collapseFiltros" aria-expanded="true" aria-controls="collapseFiltros">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="collapse in" id="collapseFiltros">
                        <div class="box-body">
                            {% block filtros %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contenedor Grilla -->
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-body table-responsive">
                        <!-- Grilla -->
                        <table class="table table-bordered">
                            {% block tabla_contenido %}
                            {% endblock %}
                        </table>
                        <!-- Contenedor de paginación -->
                        <div class="text-center">
                            <ul class="pagination text-center">
                                {% if is_paginated %}
                                    {% if page_obj.number == 1 %}
                                        <li class="disabled"><span>⇤</span></li>
                                    {% else %}
                                        <li><a class="page-link" href="?{% param_replace page=1 %}">⇤</a></li>
                                    {% endif %}
                                    {% if page_obj.has_previous %}
                                        <li><a href="?{% param_replace page=page_obj.previous_page_number %}">&laquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&laquo;</span></li>
                                    {% endif %}
                                    {% for i in paginator|proper_paginate:page_obj.number %}
                                        {% if page_obj.number == i %}
                                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                        {% else %}
                                            <li><a class="page-link" href="?{% param_replace page=i %}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
{#                                    {% for i in paginator.page_range %}#}
{#                                        {% if page_obj.number == i %}#}
{#                                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>#}
{#                                        {% else %}#}
{#                                            <li><a href="?{% param_replace page=i  %}">{{ i }}</a></li>#}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}
                                    {% if page_obj.has_next %}
                                        <li><a href="?{% param_replace page=page_obj.next_page_number %}">&raquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&raquo;</span></li>
                                    {% endif %}
                                    {% if page_obj.number == paginator.num_pages %}
                                        <li class="disabled"><span>⇥</span></li>
                                    {% else %}
                                        <li><a class="page-link" href="?{% param_replace page=paginator.num_pages %}">⇥</a></li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}