{% extends 'base/ListadoBase.html' %}
{% load widget_tweaks %}

{% block ListadoBaseScripts %}
<script>

    function create_button(color, title, value, id, imagenId)
    {
        var btn = document.createElement('input');
        btn.type = "button";
        btn.className = "btn btn-hash";
        btn.style = "background-color:{{color}}; border-color:color";

        btn.title= title;

        btn.value = value;
        var td = $('#tipoHash_'+imagenId+id)
        $(td).append(btn);
    }

    $(function () {
        $('[data-toggle="tooltipHash"]').tooltip()
    })
</script>
{% endblock %}

{% block icon %}
<i class="fa fa-image"></i>
{% endblock %}

{% block titulo %}
 Imágenes
{% endblock %}

{% block linkVolver %}
  <a type="" href="{% url 'PericiaListar' pericia.proyecto.id %}" style="color:black"> Volver a pericias</a>
{% endblock %}

{% block filtros %}

{% load AREXTItemplatetag %}

    <form>
        <div class="form-row">
            <div class="form-group col-md-3">
                {{ filterset.form.nombre.label_tag }}
                {% render_field filterset.form.nombre class="form-control" %}
            </div>
            <div class="form-group col-md-3">
                {{ filterset.form.extension.label_tag }}
                {% render_field filterset.form.extension class="form-control" %}
            </div>
            <div class="form-group col-md-3">
                {{ filterset.form.tipoImagen.label_tag }}
                {% render_field filterset.form.tipoImagen class="form-control" %}
            </div>
            <div class="form-group col-md-3">
                {{ filterset.form.hash.label_tag }}
                {% render_field filterset.form.hash class="form-control" %}
            </div>
        </div>
        <div class="form-group col-md-3">
            <input type="hidden" name="paginate_by" value={{ numero_paginacion }} />
            <button type="submit" class="btn btn-primary" title="Buscar imagenes">Buscar</button>
            <a class="btn btn-default" href="?{% param_replace page=1 nombre='' extension='' tipoImagen='' hash=''  %}" title="Limpiar filtros">Limpiar</a>
        </div>
    </form>
{% endblock %}


{% block TopBody %}
    <div class="row">
        <div class="col-md-12">
            <div class="box-filter">
                <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-info-circle"></i>&nbsp;Información de la pericia</h3>
                        <div class="box-tools pull-right">
                            <button title="minimizar/maximizar" class="btn btn-box-tool" type="button" data-toggle="collapse" data-target="#collapsePericiaInfo" aria-expanded="true" aria-controls="collapsePericiaInfo">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                <div class="collapse in" id="collapsePericiaInfo">
                    <div class="box-body">
                        <div class="form-row">
                            <div class="col-md-4">
                                <b>IPP</b>
                                <br/>
                                {{pericia.proyecto.IPP}}
                            </div>
                            <div class="col-md-4">
                                <b>Proyecto</b>
                                <br/>
                                {{pericia.proyecto.descripcion}}
                            </div>
                            <div class="col-md-4">
                                <b>Pericia</b>
                                <br/>
                                {{pericia.descripcion}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block tabla_contenido %}
<div class="form-group col-md-3">
    <a title="Agregar imagenes" class="btn btn-success" href="{% url 'ImagenCrear' periciaId %}">Agregar</a>
</div>

<div class="form-group col-md-4" style="display:flex">
    <label>Imágenes por página:</label>&nbsp;
    <select name="paginate_by" onchange="location = this.value;" style="width:15%;text-align-last:center">
        <option value="?{% param_replace page=1 paginate_by=5 %}" {% if 5 == numero_paginacion %}selected{% endif %}>5</option>
        <option value="?{% param_replace page=1 paginate_by=10 %}" {% if 10 == numero_paginacion %}selected{% endif %}>10</option>
        <option value="?{% param_replace page=1 paginate_by=15 %}" {% if 15 == numero_paginacion %}selected{% endif %}>15</option>
        <option value="?{% param_replace page=1 paginate_by=20 %}" {% if 20 == numero_paginacion %}selected{% endif %}>20</option>
        <option value="?{% param_replace page=1 paginate_by=50 %}" {% if 50 == numero_paginacion %}selected{% endif %}>50</option>
    </select>
</div>

<thead class="thead-dark" >
    <tr>
        <th style="width: 10px"></th>
        <th style="width: 10px"></th>
        <th style="width: 10px"></th>
        <th>Nombre</th>
        <th style="width: 100px">Extensión</th>
        <th style="width: 120px">Tipo Imagen</th>
        <th style="text-align:center;">Hash/es</th>
    </tr>
</thead>
<tbody>
    {% for imagen in object_list %}
    <tr>
        <td>
            <a href="{% url 'ImagenEditar' imagen.id %}">
                <img src="../../static/image/editar.png" alt="Modificar" title="Modificar" style="width: 20px;">
            </a>
        </td>
        <td>
            <a href="#Eliminar{{ imagen.id }}" data-toggle="modal">
                <img src="../../static/image/eliminar.png" alt="Eliminar" title="Eliminar" style="width: 20px;">
            </a>
        </td>
        <td style="display:none;">{{imagen.id}}</td>
        <td>
            <img src= "../../../imagenes{{ imagen.miniatura }}">
        </td>
        <td>
            <div class="cl-effect-1">
                <a class="link" href="{% url 'ImagenConsultar' imagen.id 1 %}" target="_blank">
                    {{imagen.nombre|truncatechars:35}}
                </a>
            </div>
        </td>
        <td>{{imagen.extension}}</td>
        <td>{{imagen.tipoImagen.id}}</td>
        <td>
            <table>
                <tr>
                    {% for tipoHash in tipoHashes %}
                        {% if tipoHash|img_hash_tags:imagen.imagenhash_set.all is None %}
                            <td class="td_hash">&nbsp;</td>
                        {% else %}
                            <td class="td_hash">
                                <a type="button" class="btn btn-hash" style="background-color:{{tipoHash.color}}; border-color:{{tipoHash.color}};" data-toggle="tooltipHash" data-original-title="{{tipoHash|img_hash_tags:imagen.imagenhash_set.all}}" data-trigger="click">
                                    {{tipoHash.id}}
                                </a>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            </table>
        </td>

    </tr>
    <div id="Eliminar{{ imagen.id }}" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content" style="width: max-content;">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <h4 class="modal-title">Atención!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div >Seguro que desea eliminar la imagen </div>
                    <div >{{ imagen.nombre|truncatechars:20 }}?</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-danger" onclick="window.location.href='{% url 'ImagenEliminar' imagen.id %}'">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
        <tr>
          <td colspan="8" style="color:darkgrey;text-align:center;"><i class="fa fa-exclamation-circle"></i> <b><small>No se encontraron imágenes</small></b></td>
        </tr>
    {% endfor %}

</tbody>

{% endblock %}

{% block tabla_paginacion %}
    <li class="page-item disabled">
        <span class="page-link">Previous</span>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
        <span class="page-link">2<span class="sr-only">(current)</span></span></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
        <a class="page-link" href="#">Next</a>
    </li>
{% endblock %}