{% extends 'base/AbmBase.html' %}

{% block titulo %}
   Imagen
{% endblock %}


{% block linkVolver %}
  <a type="" href="{% url 'ImagenListar' 0 %}" style="color:black"> Volver a imagen</a>
{% endblock %}

{% block body%}

      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box">
            <img src="#" style="margin:15px; height:250px;">
          </div>
        </div>
        <div class="col-md-8 col-sm-6 col-xs-12">
          <div class="info-box">
            <label style="margin:15px; height:250px;">
              {% for obj_detalle in imagen.ImagenDetalle_set.all %}
                {{obj_detalle.texto}}</br>
              {% endfor %}
            </label>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="box-filter">
            <div class="box-header with-border" style="background-color:#1d567f !important;">
              <h3 class="box-title" style="color:#fff !important;"><i class="fa fa-address-card"></i>&nbsp;Información básica</h3>
              <div class="box-tool pull-right">
                <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target="#collapseInformacionBasica" aria-expanded="true" aria-controls="collapseInformacionBasica">
                  <i class="fa fa-chevron-down" style="color:#fff !important;"></i>
                </button>
              </div>
            </div>
            <div class="collapse in" id="collapseInformacionBasica">
                <div class="box-body">
              <div class="row">
                <div class="col-md-4">
                  Nombre
                  {{imagen.nombre}}
                </div>
                <div class="col-md-4">
                  Extension
                  {{imagen.extension}}
                </div>
                <div class="col-md-4">
                  Tipo Imagen
                  {{imagen.tipoImagen}}
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="box-filter">
            <div class="box-header with-border" style="background-color:#0e5032 !important;">
              <h3 class="box-title" style="color:#fff !important;"><i class="fa fa-key"></i>&nbsp;Hashes</h3>
              <div class="box-tool pull-right">
                <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target="#collapseHash" aria-expanded="true" aria-controls="collapseHash">
                  <i class="fa fa-chevron-down" style="color:#fff !important;"></i>
                </button>
              </div>
            </div>
            <div class="collapse in" id="collapseHash">
                <div class="box-body table-responsive">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th>Tipo</th>
                    <th>Hash</th>
                  </tr>
                  {% for obj_hash in imagen.imagenhash_set.all %}
                    <tr>
                      <td>{{obj_hash.tipoHash.nombre}}</td>
                      <td>{{obj_hash.valor}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="box-filter">
            <div class="box-header with-border" style="background-color:#841616 !important;">
              <h3 class="box-title" style="color:#fff !important;"><i class="fa fa-search"></i>&nbsp;Metadatos</h3>
              <div class="box-tool pull-right">
                <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target="#collapseMetadato" aria-expanded="true" aria-controls="collapseMetadato">
                  <i class="fa fa-chevron-down" style="color:#fff !important;"></i>
                </button>
              </div>
            </div>
            <div class="collapse in" id="collapseMetadato">
                <div class="box-body table-responsive">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th>Atributo</th>
                    <th>Valor</th>
                  </tr>
                  {% for obj_hash in imagen.imagenhash_set.all %}
                    <tr>
                      <td>{{obj_hash.tipoHash.nombre}}</td>
                      <td>{{obj_hash.valor}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}