{% extends 'base/AbmBase.html' %}
{% load staticfiles %}


{% block AbmBaseStyles %}
{% endblock %}

{% block AbmBaseScripts %}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  <script src="{% static 'js/files/basic-upload.js' %}"></script>
<script>
  function getDirectorios()
  {
      var directorios = [{{directorios|safe}}];
      return directorios;
  }

    $(function () {
        $('#tree').treeview({data: getDirectorios() });
    })


    $(function() {
      $('#tree').on('nodeSelected', function(event, data) {
        $('#urlFile').val(data.p);
      });
    })

    $(function() {
      $('#tree').on('nodeUnselected', function(event, data) {
        $('#urlFile').val('');
      });
    })

    $(function(){
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        activeTab =  $(e.target).attr('id');
        $('#fromTab').val(activeTab);
      });
    })

    $(function(){
      $('#fromTab').val('D');
    })

  </script>

{% endblock %}

{% block icon %}
<i class="fa fa-image"></i>
{% endblock %}

{% block titulo %}
   Imagen
{% endblock %}


{% block linkVolver %}
  <a type="" href="{% url 'ImagenListar' periciaId %}" style="color:black"> Volver a imágenes</a>
{% endblock %}

{% block body %}

  <!-- Nav tabs -->
<div class="nav tabs-custom">
  <ul class="nav nav-tabs">
    <li class="nav-item active">
      <a id='D' class="nav-link" data-toggle="tab" href="#directorio">Directorio</a>
    </li>

    {% if activeTab %}
    <li class="nav-item">
      <a id='A' class="nav-link" data-toggle="tab" href="#archivo">Archivo</a>
    </li>
    {% endif %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="directorio" class="tab-pane active"><br>
      <div class="box-body" style="border-style:groove;">
        <div class="row">
          <div class="col-md-12">
          <p>Seleccione los hashes a aplicar</p>
            {% for obj_tipoHash in tipoHashes%}
            <div class="col-md-3" style="display:inline">
                <label class="form-check-label">
                    <input name="inputHashDirectorio" type="checkbox" class="form-check-input" value="{{obj_tipoHash.id}}"> {{obj_tipoHash.id}}
                </label>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>

      <div class="box-body" style="border-style:groove; margin-top:20px;">
        <div class="row" style="margin-top:10px; margin-bottom: 10px;">
          <div class="col-md-12">
            <div class="input-group" style="width:100%">
                <input type="text" id="urlFile" name="urlFile" class="form-control" placeholder="nombre de la carpeta..." readonly >
            </div>
            <br>
            <div id="tree" name="treeview"></div>
            <article style="margin-top:5px;">
              <div class="info">
                <strong><i class="fa fa-info-circle"></i> Nota:</strong> seleccione el nombre del directorio/subdirectorio del cual se procesarán las imágenes
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>

    {% if activeTab %}
      <div id="archivo" class="tab-pane"><br>
      <div class="box-body" style="border-style:groove;">
        <div class="row">
          <div class="col-md-12">
          <p>Seleccione los hashes a aplicar</p>
            {% for obj_tipoHash in tipoHashes%}
            <div class="col-md-3" style="display:inline">
                <label class="form-check-label">
                    <input name="inputHashArchivo" type="checkbox" class="form-check-input" value="{{obj_tipoHash.id}}"> {{obj_tipoHash.id}}
                </label>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>

      <div class="box-body" style="border-style:groove; margin-top:20px;">
        <article style="margin-top:5px;">
          <div class="info">
            <strong><i class="fa fa-info-circle"></i> Nota:</strong> suba solo imágenes con texto
          </div>
        </article>
        <div style="margin-bottom: 20px;">
          <button type="button" class="btn btn-primary js-upload-files">
            <span class="glyphicon glyphicon-cloud-upload"></span> Subir Imágenes
          </button>
          <input id="fileupload" type="file" name="file" multiple
           style="display: none;"
           data-url="{% url 'BasicUpload' periciaId %}"
           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
        </div>

        <table id="gallery" class="table table-bordered">
          <thead>
            <tr>
              <th>Archivos</th>
            </tr>
          </thead>
          <tbody>
            {% for photo in photos %}
              <tr>
                <td>
                  <a class="link" href="{{ photo.file.url }}">{{ photo.file.name }} </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
    {% endif %}

  </div>
</div>


<div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Uploading...</h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
        </div>
      </div>
    </div>
  </div>
</div>

<input id="fromTab" type="hidden" name="fromTab"/>
{% endblock %}