{% extends 'base/ListadoBase.html' %}
{% load widget_tweaks %}

{% block ListadoBaseScripts %}
<script>
    $(function () {
        $('[data-toggle="tooltipHash"]').tooltip()
    })
</script>
{% endblock %}

{% block titulo %}
<h1> Imagenes </h1>
{% endblock %}

{% block filtros %}
<form>
        <div class="form-row">
            <div class="form-group col-md-3">
                {{ filterset.form.nombre.label_tag }}
                {% render_field filterset.form.nombre class="form-control" %}
            </div>
            <div class="form-group col-md-3">
                {{ filterset.form.extension.label_tag }}
                {% render_field filterset.form.extension class="form-control" %}
            </div>
            <div class="form-group col-md-3">
                {{ filterset.form.tipoImagen.label_tag }}
                {% render_field filterset.form.tipoImagen class="form-control" %}
            </div>
            <div class="form-group col-md-3">
                {{ filterset.form.hash.label_tag }}
                {% render_field filterset.form.hash class="form-control" %}
            </div>
        </div>
        <div class="form-group col-md-4">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>
{% endblock %}

{% block acciones %}
<!--<a class="btn btn-success" href="{% url 'ImagenCrear' %}">Agregar</a>-->
{% endblock %}

{% block tabla_contenido %}
<a class="btn btn-success" href="{% url 'ImagenCrear' %}">Agregar</a>
<thead class="thead-dark" >
    <tr>
        <th style="width: 10px"></th>
        <th style="width: 10px"></th>
        <th style="width: 10px"></th>
        <th>Nombre</th>
        <th style="width: 100px">Extensión</th>
        <th style="width: 120px">Tipo Imagen</th>
        <th>Hash</th>
    </tr>
</thead>
<tbody>
    {% for imagen in object_list %}
    <tr>
        <td>
            <a href="{% url 'ImagenEditar' imagen.id %}">
                <img src="../../static/image/editar.png" alt="Modificar" title="Modificar" style="width: 20px;">
            </a>
        </td>
        <td>
            <a href="#Eliminar{{ imagen.id }}" data-toggle="modal">
                <img src="../../static/image/eliminar.png" alt="Eliminar" title="Eliminar" style="width: 20px;">
            </a>
        </td>
        <td style="display:none;">{{imagen.id}}</td>
        <td>{{imagen.miniatura}}</td>
        <td>
            <div class="cl-effect-1">
                <a class="link" href="{% url 'ImagenEditar' imagen.id %}">
                    {{imagen.nombre}}
                </a>
            </div>
        </td>
        <td>{{imagen.extension}}</td>
        <td>{{imagen.tipoImagen.nombre}}</td>
        <td>
            {% for obj_hash in imagen.imagenhash_set.all %}
                <a type="button" class="btn btn-hash" style="background-color:{{obj_hash.tipoHash.color}}; border-color:{{obj_hash.tipoHash.color}};" data-toggle="tooltipHash" data-original-title="{{obj_hash.valor}}" data-trigger="click">
                {{obj_hash.tipoHash.nombre}}
                </a>

            {% endfor %}

        </td>

    </tr>
    {% empty %}
        <tr>
          <td colspan="5"><h1>No hay imagenes</h1></td>
        </tr>
    {% endfor %}

</tbody>

{% endblock %}

{% block tabla_paginacion %}
<li class="page-item disabled">
    <span class="page-link">Previous</span>
</li>
<li class="page-item"><a class="page-link" href="#">1</a></li>
<li class="page-item active" aria-current="page">
    <span class="page-link">2<span class="sr-only">(current)</span></span></li>
<li class="page-item"><a class="page-link" href="#">3</a></li>
<li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
{% endblock %}