{% extends 'base/AbmBase.html' %}

{% block icon %}
<i class="fa fa-image"></i>
{% endblock %}

{% block titulo %}
   Imagen
{% endblock %}

{% load AREXTItemplatetag %}

{% block linkVolver %}
    {% if modoReport is None or modoReport == 0 %}
        <a type="" href="{% url 'ImagenListar' periciaId %}" style="color:black"> Volver a imágenes</a>
    {% endif %}
{% endblock %}

{% block body%}

{% get_color_by_tipoImgen tipoImagen=imagen.tipoImagen.id as color %}

      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box" id="imagen">
            <img src="../../../../imagenes{{ imagen.path }}/{{ imagen.nombre }}" class="img-responsive center-block">
          </div>
        </div>
        <div class="col-md-8 col-sm-6 col-xs-12" style="height:100%">
          {% list_detail_text imagenDetalles=detalles tipoImagen=imagen.tipoImagen.id color=color %}
        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="box-filter">
            <div class="box-header bg-{{color}} with-border">
              <h3 class="box-title" style="color:#fff !important;"><i class="fa fa-image"></i>&nbsp;Información básica</h3>
              <div class="box-tool pull-right">
                <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target="#collapseInformacionBasica" aria-expanded="true" aria-controls="collapseInformacionBasica">
                  <i class="fa fa-chevron-down" style="color:#fff !important;"></i>
                </button>
              </div>
            </div>
            <div class="collapse in" id="collapseInformacionBasica">
                <div class="box-body">
              <div class="row">
                <div class="col-md-6">
                  <b>Nombre</b>
                  <br/>
                  {{imagen.nombre}}
                </div>
                <div class="col-md-2">
                  <b>Extensión</b>
                  <br/>
                  {{imagen.extension}}
                </div>
                <div class="col-md-4">
                  <b>Tipo Imagen</b>
                  <br/>
                  {{form.tipoImagen}}
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="box-filter">
            <div class="box-header bg-{{color}} with-border">
              <h3 class="box-title" style="color:#fff !important;"><i class="fa fa-key"></i>&nbsp;Hashes</h3>
              <div class="box-tool pull-right">
                <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target="#collapseHash" aria-expanded="true" aria-controls="collapseHash">
                  <i class="fa fa-chevron-down" style="color:#fff !important;"></i>
                </button>
              </div>
            </div>
            <div class="collapse in" id="collapseHash">
                <div class="box-body table-responsive">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th>Tipo</th>
                    <th>Hash</th>
                  </tr>
                  {% for obj_hash in imagen.imagenhash_set.all %}
                    <tr>
                      <td>{{obj_hash.tipoHash.id}}</td>
                      <td>{{obj_hash.valor}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="box-filter">
            <div class="box-header bg-{{color}} with-border">
              <h3 class="box-title" style="color:#fff !important;"><i class="fa fa-search"></i>&nbsp;Metadatos</h3>
              <div class="box-tool pull-right">
                <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target="#collapseMetadato" aria-expanded="true" aria-controls="collapseMetadato">
                  <i class="fa fa-chevron-down" style="color:#fff !important;"></i>
                </button>
              </div>
            </div>
            <div class="collapse in" id="collapseMetadato">
                <div class="box-body table-responsive">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th>Atributo</th>
                    <th>Valor</th>
                  </tr>
                  {% for obj_meta in imagen.imagenmetadatos_set.all %}
                    <tr>
                      <td>{{obj_meta.idMetadato}}</td>
                      <td>{{obj_meta.valor}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}

{% block btnaceptar%}
    {% if modo %}
        <button type="submit" class="btn btn-primary">Aceptar</button>
    {% else %}
        {% if modoReport is None or modoReport == 0 %}
            <a class="btn btn-primary" href="{% url 'ImagenListar' imagen.pericia.id %}">Volver</a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block btnCancelar %}
    {% if modo %}
        <a type="" href="{% url 'ImagenListar' imagen.pericia.id %}" class="btn btn-default">Cancelar</a>
    {% endif %}
{% endblock %}