{% extends 'base/AbmBase.html' %}

{% block AbmBaseScripts %}
    <script>

    </script>
{% endblock %}

{% block icon %}
<i class="fa fa-search"></i>
{% endblock %}

{% block titulo %}
   Pericia
{% endblock %}

{% block linkVolver %}
  <a type="" href="{% url 'PericiaListar' 0 %}" style="color:black"> &laquo; Volver a Pericias</a>
{% endblock %}

{% block body %}
    {{ form.as_p }}
{% endblock %}

{% block btnCancelar %}
  <button class="btn btn-default" onclick="location.href={% url 'PericiaListar' 0 %}">Cancelar</button>
    <!--<a type="" href="{% url 'PericiaListar' proyectoId %}" class="btn btn-default">Cancelar</a>-->
{% endblock %}
{% block btnListar %}
  <!--<button type="button" onclick="location.href={% url 'PericiaListar' 0 %}" class="btn btn-success pull-right">Ver Imagenes</button>-->
    <a type="" href="{% url 'ImagenListar' pericia.id %}" class="btn btn-success pull-right">Ver Imagenes</a>
{% endblock %}
