{% extends 'base/ListadoBase.html' %}

{% block titulo %}
<h1> Pericias </h1>
{% endblock %}

{% block filtros %}
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-3 control-label">Causa</label>
            <div class="col-md-9">
                <select class="form-control">
                    <option>Causa 1</option>
                    <option>Causa 2</option>
                    <option>Causa 3</option>
                    <option>Causa 4</option>
                    <option>Causa 5</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label class="col-md-3 control-label" for="filtrodescripcion">Descripción</label>
            <div class="col-md-9">
                <input type="text" id="filtrodescripcion" class="form-control" placeholder="Descripción" name="descripcion">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-5 control-label">Tipo Pericia</label>
            <div class="col-md-7">
                <select class="form-control">
                    <option>Investigación</option>
                    <option>Tipo 2</option>
                    <option>Tipo 3</option>
                    <option>Tipo 4</option>
                    <option>Tipo 5</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-2 control-label" for="filtrodescripcion">Fechas</label>
            <div class="input-group">
                <input type="text" class="form-control pull-right" id="reservation">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block acciones %}
<a class="btn btn-success" href="{% url 'PericiaCrear' %}">Agregar</a>
{% endblock %}

{% block tabla_contenido %}
<thead class="thead-dark" >
    <tr>
        <th style="width: 10px"></th>
        <th style="width: 10px"></th>
        <th style="width: 10px"></th>
        <th>Causa</th>
        <th>Descripción</th>
        <th>Perito</th>
        <th>Fecha</th>
        <th>Tipo Pericia</th>
    </tr>
</thead>
<tbody>
    {% for pericia in object_list %}
    <tr>
        <td>
            <a href="{% url 'PericiaEditar' pericia.id %}">
                <img src="../../static/image/editar.png" alt="Modificar" title="Modificar" style=";width: 20px">
            </a>
        </td>
        <td>
            <a href="#Eliminar{{ pericia.id }}" data-toggle="modal">
                <img src="../../static/image/eliminar.png" alt="Eliminar" title="Eliminar" style=";width: 20px">
            </a>
        </td>
        <td>
            <a href="{% url 'ImagenListar' %}">
                <img src="../../static/image/imagen.png" alt="Imagenes" title="Imagenes" style=";width: 25px">
            </a>
        </td>
        <td style="display:none;">{{pericia.id}}</td>
        <td>{{pericia.proyecto.descripcion}}</td>
        <td>{{pericia.descripcion}}</td>
        <td>{{pericia.nombrePerito}}</td>
        <td>{{pericia.fecha}}</td>
        <td>{{pericia.tipoPericia}}</td>
    </tr>
    {% empty %}
        <h1>No hay pericias</h1>
    {% endfor %}
</tbody>
{% endblock %}

{% block tabla_paginacion %}
<li class="page-item disabled">
    <span class="page-link">Previous</span>
</li>
<li class="page-item"><a class="page-link" href="#">1</a></li>
<li class="page-item active" aria-current="page">
    <span class="page-link">2<span class="sr-only">(current)</span></span></li>
<li class="page-item"><a class="page-link" href="#">3</a></li>
<li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
{% endblock %}