{% extends 'base/AbmBase.html' %}

{% block AbmBaseScripts %}
    <script>

    </script>
{% endblock %}

{% block icon %}
<i class="fa fa-search"></i>
{% endblock %}

{% block titulo %}
   Pericia
{% endblock %}

{% block linkVolver %}
  <a type="" href="{% url 'PericiaListar' proyectoId %}" style="color:black"> &laquo; Volver a Pericias</a>
{% endblock %}

{% block body %}
    {{ form.as_p }}
{% endblock %}
{% block btnaceptar%}
    {% if modo %}
        <button type="submit" class="btn btn-primary">Aceptar</button>
    {% else %}
        <a class="btn btn-primary" href="{% url 'PericiaListar' proyectoId %}">Volver</a>
    {% endif %}
{% endblock %}
{% block btnCancelar %}
    {% if modo %}
        <a type="" href="{% url 'PericiaListar' proyectoId %}" class="btn btn-default">Cancelar</a>
    {% endif %}
{% endblock %}
{% block btnListar %}
    {% if not modo %}
        <a type="" href="{% url 'ImagenListar' pericia.id %}" class="btn btn-success pull-right" title="VEr imagenes de la pericia">Ver Imágenes</a>
    {% endif %}
{% endblock %}
