{% extends 'base/ListadoBase.html' %}
{% load widget_tweaks %}

{% block ListadoBaseScripts %}
        <script>
        </script>
    {% endblock %}

{% block titulo %}
<h1> Pericias </h1>
{% endblock %}

{% block filtros %}
<form>
        <div class="form-row">
            <div class="form-group col-md-3">
                <!--<div class="form-group">-->
                {{ filterset.form.proyecto.label_tag }}
                {% render_field filterset.form.proyecto class="form-control" %}
                    <!--</div>-->
                <!--</div>-->
            </div>
            <div class="form-group col-md-3">
                <!--<div class="form-group">-->
                    {{ filterset.form.descripcion.label_tag }}
                    {% render_field filterset.form.descripcion class="form-control" %}
                    <!--</div>-->
                <!--</div>-->
            </div>
            <div class="form-group col-md-3">
                    {{ filterset.form.tipoPericia.label_tag }}
                    {% render_field filterset.form.tipoPericia class="form-control" %}
            </div>
            <div class="form-group col-md-3">
                    {{ filterset.form.fecha.label_tag }}
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    {% render_field filterset.form.fecha class="form-control" id="reservation" %}
                    </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>
<!--<div class="row">-->
    <!--<div class="col-md-3">-->
        <!--<div class="form-group">-->
            <!--<label>Causa</label>-->
            <!--&lt;!&ndash;<div class="col-md-7">&ndash;&gt;-->
                <!--<select class="form-control">-->
                    <!--<option>Causa 1</option>-->
                    <!--<option>Causa 2</option>-->
                    <!--<option>Causa 3</option>-->
                    <!--<option>Causa 4</option>-->
                    <!--<option>Causa 5</option>-->
                <!--</select>-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-3">-->
        <!--<div class="form-group">-->
            <!--<label>Descripción</label>-->
            <!--&lt;!&ndash;<div class="col-md-7">&ndash;&gt;-->
                <!--<input type="text" id="filtrodescripcion" class="form-control" placeholder="Descripción" name="descripcion">-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-3">-->
        <!--<div class="form-group">-->
            <!--<label>Tipo Pericia</label>-->
            <!--&lt;!&ndash;<div class="col-md-7">&ndash;&gt;-->
                <!--<select class="form-control">-->
                    <!--<option>Investigación</option>-->
                    <!--<option>Tipo 2</option>-->
                    <!--<option>Tipo 3</option>-->
                    <!--<option>Tipo 4</option>-->
                    <!--<option>Tipo 5</option>-->
                <!--</select>-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-3">-->
        <!--<div class="form-group">-->
            <!--<label>Fecha desde/hasta</label>-->
            <!--<div class="input-group">-->
              <!--<div class="input-group-addon">-->
                <!--<i class="fa fa-calendar"></i>-->
              <!--</div>-->
              <!--<input type="text" class="form-control pull-right" id="reservation">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

{% endblock %}

{% block acciones %}
<a class="btn btn-success" href="{% url 'PericiaCrear' %}">Agregar</a>
{% endblock %}

{% block tabla_contenido %}
<thead class="thead-dark" >
    <tr>
        <th style="width: 10px"></th>
        <th style="width: 10px"></th>
        <th style="width: 10px"></th>
        <th>Causa</th>
        <th>Descripción</th>
        <th>Perito</th>
        <th>Fecha</th>
        <th>Tipo Pericia</th>
    </tr>
</thead>
<tbody>
    {% for pericia in object_list %}
    <tr>
        <td>
            <a href="{% url 'PericiaEditar' pericia.id %}">
                <img src="../../static/image/editar.png" alt="Modificar" title="Modificar" style=";width: 20px">
            </a>
        </td>
        <td>
            <a href="#Eliminar{{ pericia.id }}" data-toggle="modal">
                <img src="../../static/image/eliminar.png" alt="Eliminar" title="Eliminar" style=";width: 20px">
            </a>
        </td>
        <td>
            <a href="{% url 'ImagenListar' %}">
                <img src="../../static/image/imagen.png" alt="Imagenes" title="Imagenes" style=";width: 25px">
            </a>
        </td>
        <td style="display:none;">{{pericia.id}}</td>
        <td>{{pericia.proyecto.descripcion}}</td>
        <td>{{pericia.descripcion}}</td>
        <td>{{pericia.nombrePerito}}</td>
        <td>{{pericia.fecha}}</td>
        <td>{{pericia.tipoPericia}}</td>
    </tr>
    <div id="Eliminar{{ pericia.id }}" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <h4 class="modal-title">Atención!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Seguro que desea eliminar la pericia {{ pericia.descripcion }}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
                    <!--<a class="btn btn-danger" href="{% url 'PericiaEliminar' pericia.id %}">Eliminar</a>-->
                    <button class="btn btn-danger" onclick="window.location.href='{% url 'PericiaEliminar' pericia.id %}'">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
        <h1>No hay pericias</h1>
    {% endfor %}
</tbody>
{% endblock %}
