{% extends 'base/AbmBase.html' %}

{% block error %}
    <section class="alert-container">
        <div class="alert alert-error"><a class="close" data-dismiss="alert" href="#">&times;</a>
                        <h4><i class="icon fa fa-ban"></i> Error!</h4>
        </div>
        <div class="alert alert-success"><a class="close" data-dismiss="alert" href="#">&times;</a>
                        <h4><i class="icon fa fa-ban"></i> Succes!</h4>
        </div>
    </section>
{% endblock %}

{% block titulo %}
   Pericia
{% endblock %}
{% block linkVolver %}
  <a type="" href="{% url 'PericiaListar' %}" style="color:black"> &laquo; Volver a Pericias</a>
{% endblock %}

{% block body %}
    {{ form.as_p }}
{% endblock %}

{% block btnCancelar %}
  <button class="btn btn-default" onclick="location.href={% url 'PericiaListar' %}">Cancelar</button>
{% endblock %}
{% block btnListar %}
  <button type="button" onclick="location.href={% url 'PericiaListar' %}" class="btn btn-success pull-right">Ver Imagenes</button>
{% endblock %}
