{% extends 'base/ListadoBase.html' %}

{% block titulo %}
<h1> Causas </h1>
{% endblock %}

{% block filtros %}
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-2 control-label" for="filtroIPP">IPP</label>
            <div class="col-md-4">
                <input type="text" id="filtroIPP" class="form-control"
                    placeholder="XX-XXXXXX-XX" name="ipp">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-2 control-label" for="filtrofiscalia">Fiscalía</label>
            <div class="col-md-6">
                <input type="text" id="filtrofiscalia" class="form-control"
                    placeholder="First Name" name="fiscalia">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-2 control-label" for="filtrodescripcion">Descripción</label>
            <div class="col-md-10">
                <input type="text" id="filtrodescripcion" class="form-control"
                    placeholder="Descripción" name="descripcion">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block tabla_contenido %}
<thead class="thead-dark">
                            <tr>
                                <th style="width: 10px">UPD</th>
                                <th style="width: 10px">DEL</th>
                                <th style="width: 10px">PER</th>
                                <th>IPP</th>
                                <th>Descripción</th>
                                <th>Fiscalía</th>
                                <th>Responsable</th>
                                <th>Defensoría</th>
                                <th>Juzgado</th>
                            </tr>
                        </thead>
<tbody>
                            <tr>
                                <td>IMG UPD</td>
                                <td>IMG DEL</td>
                                <td>IMG PER</td>
                                <td>12-123456-19</td>
                                <td>Causa coima 1</td>
                                <td>Mar del Plata</td>
                                <td>Juan Carpet</td>
                                <td>23 MDQ</td>
                                <td>Nro 16</td>
                            </tr>
                            <tr>
                                <td>IMG UPD</td>
                                <td>IMG DEL</td>
                                <td>IMG PER</td>
                                <td>12-123456-19</td>
                                <td>Causa coima 2</td>
                                <td>Mar del Plata</td>
                                <td>Juan Carpet</td>
                                <td>23 MDQ</td>
                                <td>Nro 16</td>
                            </tr>
                            <tr>
                                <td>IMG UPD</td>
                                <td>IMG DEL</td>
                                <td>IMG PER</td>
                                <td>12-123456-19</td>
                                <td>Causa coima 3</td>
                                <td>Mar del Plata</td>
                                <td>Juan Carpet</td>
                                <td>23 MDQ</td>
                                <td>Nro 16</td>
                            </tr>
                            <tr>
                                <td>IMG UPD</td>
                                <td>IMG DEL</td>
                                <td>IMG PER</td>
                                <td>12-123456-19</td>
                                <td>Causa coima 4</td>
                                <td>Mar del Plata</td>
                                <td>Juan Carpet</td>
                                <td>23 MDQ</td>
                                <td>Nro 16</td>
                            </tr>
                            <tr>
                                <td>IMG UPD</td>
                                <td>IMG DEL</td>
                                <td>IMG PER</td>
                                <td>12-123456-19</td>
                                <td>Causa coima 5</td>
                                <td>Mar del Plata</td>
                                <td>Juan Carpet</td>
                                <td>23 MDQ</td>
                                <td>Nro 16</td>
                            </tr>
                        </tbody>
{% endblock %}

{% block tabla_paginacion %}
<li class="page-item disabled">
    <span class="page-link">Previous</span>
</li>
<li class="page-item"><a class="page-link" href="#">1</a></li>
<li class="page-item active" aria-current="page">
    <span class="page-link">2<span class="sr-only">(current)</span></span></li>
<li class="page-item"><a class="page-link" href="#">3</a></li>
<li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
{% endblock %}