{% extends 'base/AbmBase.html' %}

{% block AbmBaseScripts %}
  <script>
    $(document).ready(function(){
      $("#IPP").mask("00-000000-00")
    })
  </script>
{% endblock %}

{% block icon %}
<i class="fa fa-book"></i>
{% endblock %}

{% block titulo %}
  Proyecto
{% endblock %}

{% block linkVolver %}
  <a type="" href="{% url 'ProyectoListar' %}" style="color:black"> &laquo; Volver a Proyectos</a>
{% endblock %}

{% block body %}
    {{ form.as_p }}
{% endblock %}
{% block btnaceptar%}
    {% if modo %}
        <button type="submit" class="btn btn-primary">Aceptar</button>
    {% else %}
        <a class="btn btn-primary" href="{% url 'ProyectoListar' %}">Volver</a>
    {% endif %}
{% endblock %}
{% block btnCancelar %}
    {% if modo %}
        <a class="btn btn-default" href="{% url 'ProyectoListar' %}">Cancelar</a>
    {% endif %}
{% endblock %}

{% block btnListar %}
  <a href="{% url 'PericiaListar' proyecto.id %}" class="btn btn-success pull-right">Ver Pericias</a>
{% endblock %}
