{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>AREX-TI</title>

  {% load bootstrap4 %}
  <!-- Bootstrap core CSS -->
  <!-- Custom fonts for this template -->

  <!-- Custom styles for this template -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

</head>

<body>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form method="post">
            {% csrf_token %}
            <h3>Desea eliminar el proyecto {{ object.descripcion }}?</h3>
            <button class="btm btn-danger" type="submit">Si, eliminar</button>
            <a class="btn btn-default" href="{% url 'listaPericia' %}">Cancelar</a>
        </form>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <!-- Bootstrap core JavaScript -->
</body>

</html>