{% extends 'base/ListadoBase.html' %}
{% load widget_tweaks %}

{% block ListadoBaseScripts %}
    <script>
        $(document).ready(function(){
          $("#id_IPP").mask("00-000000-00")
        })
    </script>
{% endblock %}

{% block titulo %}
<h1> Proyectos </h1>
{% endblock %}

{% block filtros %}
<!--<div class="row">-->
    <form>
        <div class="form-row">
            <div class="form-group col-md-3">
                <!--<div class="form-group">-->
                {{ filterset.form.IPP.label_tag }}
                {% render_field filterset.form.IPP class="form-control" %}
                    <!--</div>-->
                <!--</div>-->
            </div>
            <div class="form-group col-md-3">
                <!--<div class="form-group">-->
                    {{ filterset.form.fiscalia.label_tag }}
                    {% render_field filterset.form.fiscalia class="form-control" %}
                    <!--</div>-->
                <!--</div>-->
            </div>
            <div class="form-group col-md-3">
                    {{ filterset.form.descripcion.label_tag }}
                    {% render_field filterset.form.descripcion class="form-control" %}
            </div>
        </div>
        <div class="form-group col-md-4">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>
<!--</div>-->
{% endblock %}

{% block acciones %}
<!--<a class="btn btn-success" href="{% url 'ProyectoCrear' %}">Agregar</a>-->
{% endblock %}

{% block tabla_contenido %}
<a class="btn btn-success" href="{% url 'ProyectoCrear' %}">Agregar</a>
<thead class="thead-dark">
    <tr>
        <th style="width: 10px"></th>
        <th style="width: 10px"></th>
        <th style="width: 10px"></th>
        <th>IPP</th>
        <th>Descripción</th>
        <th>Fiscalía</th>
        <th>Responsable</th>
        <th>Defensoría</th>
        <th>Juzgado</th>
    </tr>
</thead>
<tbody>
    {% for proyecto in object_list  %}
    <tr>
        <td>
            <a href="{% url 'ProyectoEditar' proyecto.id %}">
                <img src="../../static/image/editar.png" alt="Modificar" title="Modificar" style=";width: 20px">
            </a>
        </td>
        <td>
            <a href="#Eliminar{{ proyecto.id }}" data-toggle="modal">
                <img src="../../static/image/eliminar.png" alt="Eliminar" title="Eliminar" style=";width: 20px">
            </a>
        </td>
        <td>
            <a href="#" >
                 <img src="../../static/image/lupa.png" alt="Ver Pericias" title="Ver Pericias" style=";width: 20px">
            </a>
        </td>
        <td style="display:none;">{{proyecto.id}}</td>
        <td>{{proyecto.IPP}}</td>
        <td>{{proyecto.descripcion}}</td>
        <td>{{proyecto.fiscalia}}</td>
        <td>{{proyecto.responsable}}</td>
        <td>{{proyecto.defensoria}}</td>
        <td>{{proyecto.juzgado}}</td>
    </tr>
    <div id="Eliminar{{ proyecto.id }}" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <h4 class="modal-title">Atención!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Seguro que desea eliminar el proyecto {{ proyecto.descripcion }}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
                    <!--<a type="button" class="btn btn-danger" href="{% url 'ProyectoEliminar' proyecto.id %}">Eliminar</a>-->
                    <button class="btn btn-danger" onclick="window.location.href='{% url 'ProyectoEliminar' proyecto.id %}'">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
        <tr>
          <td colspan="5"><h1>No hay proyectos</h1></td>
        </tr>
    {% endfor %}
</tbody>
{% endblock %}
