{% extends 'base/ListadoBase.html' %}
{% load widget_tweaks %}
{% load AREXTItemplatetag %}
{% block ListadoBaseScripts %}
<script>

    function create_button(color, title, value, id, imagenId)
    {
        var btn = document.createElement('input');
        btn.type = "button";
        btn.className = "btn btn-hash";
        btn.style = "background-color:{{color}}; border-color:color";

        btn.title= title;

        btn.value = value;
        var td = $('#tipoHash_'+imagenId+id)
        $(td).append(btn);
    }

    $(function () {
        $('[data-toggle="tooltipHash"]').tooltip()
    })

    $(function(){
        $("#id_proyecto").change(function () {
            var url = $("#filterForm").attr("data-pericia-url");
            var proyectoId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'proyectoId': proyectoId
                },
                success: function (data) {
                    $("#id_pericia").html(data);
                }
            });
        });
    })
</script>
{% endblock %}

{% block icon %}
<i class="fa fa-th-list"></i>
{% endblock %}

{% block titulo %}
 Reporte: Ocurrencias por palabra
{% endblock %}

{% block filtros %}
<form id="filterForm" data-pericia-url="{% url 'ajax_load_pericias' %}">
        <div class="form-row">
            <div class="form-group col-md-3">
                {{ filterset.form.texto.label_tag }}
                {% render_field filterset.form.texto class="form-control" %}
            </div>
            <div class="form-group col-md-2">
                {{ filterset.form.proyecto.label_tag }}
                {% render_field filterset.form.proyecto class="form-control" %}
            </div>
            <div class="form-group col-md-2">
                {{ filterset.form.pericia.label_tag }}
                {% render_field filterset.form.pericia class="form-control" %}
            </div>
            <div class="form-group col-md-2">
                {{ filterset.form.tipoImagen.label_tag }}
                {% render_field filterset.form.tipoImagen class="form-control" %}
            </div>
            <div class="form-group col-md-2">
                {{ filterset.form.tipoDetalle.label_tag }}
                {% render_field filterset.form.tipoDetalle class="form-control" %}
            </div>


            <div class="form-group col-md-3">
                <input type="hidden" name="paginate_by" value={{ numero_paginacion }} />
                <button type="submit" class="btn btn-primary" >Visualizar</button>
                <a class="btn btn-default" href="{% url 'ReporteOcurrencia'  %}" title="Limpiar filtros">Limpiar</a>
            </div>
            <div class="form-group col-md-3">
                <button title="Exportar a Excel" class="btn btn-success" type="submit" name="reporte" value="xls"/>
                    <i class="fa fa-file-excel-o" style="font-size: larger"></i>
                </button>
            </div>

            <div class="form-group col-md-2">
                {{ filterset.form.metadato.label_tag }}
                {% render_field filterset.form.metadato class="form-control" %}
            </div>
            <div class="form-group col-md-2">
                {{ filterset.form.valormeta.label_tag }}
                {% render_field filterset.form.valormeta class="form-control" %}
            </div>

        </div>

</form>
{% endblock %}

{% block acciones %}
{% endblock %}

{% block tabla_contenido %}
<div class="form-group col-md-3"> # total de ocurrencias: {{object_list.0.suma_total_ocu}}</div>
<div class="form-group col-md-4" style="display:flex">
    <label>Imágenes por página: </label>&nbsp;
    <form action="." method="get">
        <select name="paginate_by" class="form-control" onchange="this.form.submit();" style="width:15%">
            <option value="5" {% if 5 == numero_paginacion %}selected{% endif %}>5</option>
            <option value="10" {% if 10 == numero_paginacion %}selected{% endif %}>10</option>
            <option value="15" {% if 15 == numero_paginacion %}selected{% endif %}>15</option>
            <option value="20" {% if 20 == numero_paginacion %}selected{% endif %}>20</option>
            <option value="50" {% if 50 == numero_paginacion %}selected{% endif %}>50</option>
        </select>
    </form>
</div>
<thead class="thead-dark" >
    <tr>
        <th># Ocurrencias</th>
        <th style="text-align:center;">Imagen</th>
        <th style="width: 100px">Extensión</th>
        <th style="width: 120px">Tipo Imagen</th>
        <th style="text-align:center;">Hash/es</th>
    </tr>
</thead>
<tbody>
    {% if mensaje %}
        {% for imagen in object_list %}
        <tr>
            <td style="display:none;">{{imagen.imagenid}}</td>
            <td>{{imagen.total_ocurrencias}}</td>
            <td>
                <div class="cl-effect-1">
                <a class="link" href="{% url 'ImagenConsultar' imagen.imagenid 1 %}" target="_blank">
                    {{imagen.nombre}}
                </a>
                </div>
            </td>
            <td>{{imagen.extension}}</td>
            <td>{{imagen.tipoImagen_id}}</td>
            <td>
                <table>
                    <tr>
                        {% for tipoHash in tipoHashes %}
                            {% if tipoHash|img_hash_tags2:imagen.imagenid is None %}
                                <td class="td_hash">&nbsp;</td>
                            {% else %}
                                <td class="td_hash">
                                    <a type="button" class="btn btn-hash" style="background-color:{{tipoHash.color}}; border-color:{{tipoHash.color}};" data-toggle="tooltipHash" data-original-title="{{tipoHash|img_hash_tags2:imagen.imagenid}}" data-trigger="click">
                                        {{tipoHash.id}}
                                    </a>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </table>
            </td>

        </tr>
        {% empty %}
                <tr>
                  <td colspan="11" style="color:darkgrey;text-align:center;"><i class="fa fa-exclamation-circle"></i> <b><small>No se encontraron coincidencias</small></b></td>
                </tr>
        {% endfor %}
    {% endif %}
</tbody>

{% endblock %}

{% block tabla_paginacion %}
<li class="page-item disabled">
    <span class="page-link">Previous</span>
</li>
<li class="page-item"><a class="page-link" href="#">1</a></li>
<li class="page-item active" aria-current="page">
    <span class="page-link">2<span class="sr-only">(current)</span></span></li>
<li class="page-item"><a class="page-link" href="#">3</a></li>
<li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
{% endblock %}