{% extends 'base/ListadoBase.html' %}

{% block icon %}
<i class="fa fa-chart-area"></i>
{% endblock %}

{% block titulo %}
   Reporte Nube de palabras
{% endblock %}

{% block filtros %}

{% endblock %}


  <div id="containerChart" data-url="{% url 'chart_data' %}"></div>
{% block ListadoBaseScripts %}

  <script>
    $.ajax({
      url: $("#containerChart").attr("data-url"),
      dataType: 'json',
      success: function (data) {
        Highcharts.chart("container", data);
      }
    });
  </script>
{% endblock %}
